<div class = "container">
  <h1>Congratulations!</h1>

  You finished <%=@round.deck.name%><br>

  <img src="<%= @stats.to_url %>" alt="All Time Stats" />
   <p>This round you got <%=@right.count%> out of <%=@round.guesses.count%> questions correct!
  <ul>
  <%@wrong.each do |guess| %>
  <li>For definition: <%=guess.card.definition%></li>
    <ul>
      <li>the correct answer is: <%=guess.card.term %></li>
      <li>but you guessed: <%=guess.user_guess %></li>
    </ul>
  <%end%>
  </ul>
</div>
